{% extends 'base.html.twig' %}

{% block title %}{{category.categoryName}}{% endblock %}

{% block body %}
<h1>catégories : {{ category.categoryName }}</h1>

{% if category.tutorials is not empty %}
    {# On affiche toutes les vidéos de la catégorie avec une boucle #}
    <div class="row mt-5">
        {% for tutorial in category.tutorials %}
            <div class="col-4 mb-3">
                <div class="card h-100 position-relative">
                    <div class="position-relative">
                        {% if tutorial.tutoVideoName is defined and tutorial.tutoImageName is not null %}
                            <img src="{{ asset('/img/imageTuto/' ~ tutorial.tutoImageName) }}" class="card-img-top images-tuto" alt="tutorial.tutoName">
                        {% else %}
                            <img src="{{ asset('/img/imageTuto/tuto-noimage.png') }}" class="card-img-top images-tuto" alt="image par défaut">
                        {% endif %}
                        <a href="{{ path('app_home', { id: tutorial.id }) }}" class="mt-3 btn btn-danger rounded-circle position-absolute bottom-0 end-0 p-1 m-2 text-light">
                            <i data-feather="heart"></i>
                        </a>
                    </div>
                    <a href="{{ path('app_tutorial_show', { tutoSlug: tutorial.tutoSlug }) }}">
                        <div class="m-2">
                            <h2 class="title-tuto">{{ tutorial.tutoName }}</h2>
                            <p>{{ tutorial.tutoDescription }}</p>
                        </div>
                    </a>
                    <div class="position-absolute bottom-0 m-2">
                        <button type="submit" class="btn btn-primary">Catégorie</button>
                        <button type="submit" class="btn btn-warning">{{ tutorial.tutoSupportType }}</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% else %}

    <p class="text-center">
    Aucun tutoriel trouvé pour cette catégorie.
    <br>
    <a href="{{ path ('app_category') }}" class="btn btn-primary mt-3">Explorer d'autres catégories</a>
    </p>

{% endif %} 


{% endblock %}