{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<nav class="nav-fill">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" type="button" role="tab" aria-controls="nav-info" aria-selected="true">Mon profil</button>
        <button class="nav-link" id="nav-event-tab" data-bs-toggle="tab" data-bs-target="#nav-event" type="button" role="tab" aria-controls="nav-event" aria-selected="false">Mes inscriptions aux évènements</button>
        <button class="nav-link" id="nav-favoris-tab" data-bs-toggle="tab" data-bs-target="#nav-favoris" type="button" role="tab" aria-controls="nav-favoris" aria-selected="false">Mes tutoriels favoris</button>
    </div>
</nav>

<div class="tab-content my-3" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab" tabindex="0">
    
    {# Début de la zone "mon profil" #}
        <h2>Mes informations</h2>
            <div class="card profilUser">
                    {# {% if user.avatarName is not null %}
                    <img src="{{user.avatarName}}" alt="Avatar profil" class="avatar img-fluid rounded-circle shadow avatarProfil"> 
                    {% else %} #}
                    <img src="/img/user-noavatar.jpg" alt="Avatar profil" class="avatar img-fluid rounded-circle shadow avatarProfil">
                    {# {% endif %} #}
                
                {# <ul class="list-group list-group-flush">
                    <li class="list-group-item">Email : {{user.email}}</li>
                    <li class="list-group-item">Pseudo : {{user.pseudo}}</li>
                    <li class="list-group-item">Prénom : {{user.firstname}}</li>
                    <li class="list-group-item">Nom : {{user.surname}}</li>
                    <li class="list-group-item">Mot de passe : {{user.password}}</li>
                </ul> #}
                <a href="{{ path('app_profil_edit') }}" class="btn btn-primary">Modifier mon profil</a>
            </div>

    </div> 
    {# Fin de la zone "mon profil" #}

    {# Début de la zone "mes événements" #}
    <div class="tab-pane fade" id="nav-event" role="tabpanel" aria-labelledby="nav-event-tab" tabindex="0">
    ...
    </div>
    {# Fin de la zone "mes événements" #}

    {# Fin de la zone "mes favoris" #}
    <div class="tab-pane fade" id="nav-favoris" role="tabpanel" aria-labelledby="nav-favoris-tab" tabindex="0">
    ...
    </div>
    {# Fin de la zone "mes favoris" #}

</div>

{% endblock %}
