{% extends 'base-backend.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Utilisateurs</h1>
    <a href="{{ path('app_admin_user_new') }}" class="btn btn-primary"><i class="align-middle" data-feather="file-plus"></i></a>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Pseudo</th>
                <th>AvatarName</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>UserSlug</th>
                <th>UserUpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.avatarName }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.userSlug }}</td>
                <td>{{ user.userUpdatedAt ? user.userUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-3"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
